.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(254, 230, 163, 0.986);
    position: relative;
}
.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
}
img {
    width: 270px;
    border-radius: 10%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    border: 2px solid rgba(0,0,0,0.8)
}
.info {
    text-align: left;
}